.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pd-20{
  padding: 20px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wd-600{
  width: 600px;
}
.complete{
  opacity: .5;
  text-decoration: line-through;
}
.App-link {
  color: #61dafb;
}
#control-hook{
  margin: 0 auto;
}
#control-hook .ant-btn{
  margin-right: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border{
 background-color: black;
 background-image: linear-gradient(to right,#5D5D5B, #383838);
 width: 280px; 
 padding: 7px;
 box-sizing: border-box;
 position: relative;
 box-shadow: -10px 10px 2px 2px rgba(0, 0, 0, 0.1);
 margin-left: 50px;
}
.border::before{
  content: '';
  display: block;
  padding-bottom: 140%;
}
.img-container{
  background-color: white;
  padding: 18px;
  position: absolute;
  width: 94%;
  height: 95%;
  top:2.5%;
  left:3%
}
.image{
  background-image: url(./logo.svg);
  width: 100%;
  height: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;
}
