.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pd-20{
  padding: 20px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wd-600{
  width: 600px;
}
.complete{
  opacity: .5;
  text-decoration: line-through;
}
.App-link {
  color: #61dafb;
}
#control-hook{
  margin: 0 auto;
}
#control-hook .ant-btn{
  margin-right: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
